*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 @font-face {
      font-family: D-DIN;
      src: url(D-DIN.e58c68e58b09fc0e.woff2) format("woff2"), url(D-DIN.105cb3e9fde868e3.woff) format("woff"), url(D-DIN.e77db3e5eeb79c76.otf) format("opentype");
      font-style: normal;
      font-weight: 400;
      font-display: block;
    }
    :root {
      --white-100: rgba(240, 240, 250, 1);
      --white-90: rgba(240, 240, 250, .9);
      --white-80: rgba(240, 240, 250, .8);
      --white-70: rgba(240, 240, 250, .7);
      --white-60: rgba(240, 240, 250, .6);
      --white-50: rgba(240, 240, 250, .5);
      --white-35: rgba(240, 240, 250, .35);
      --white-30: rgba(240, 240, 250, .3);
      --white-25: rgba(255, 255, 255, .25);
      --white-15: rgba(240, 240, 250, .15);
      --white-10: rgba(240, 240, 250, .1);
      --black-50: rgba(0, 0, 0, .5);
      --black-80: rgba(0, 0, 0, .8);
      --gray-80: rgba(37, 38, 40, .8);
      --gray-60: rgba(37, 38, 40, .6);
    }
    body {
      font: 16px/26px D-DIN, Arial, Verdana, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .app-background {
      background-color: #000;
      color: var(--white-100);
    }
    @media (max-width: 961px) {
      body {
        font-size: .625rem;
        line-height: .75rem;
      }
    }
header{
    display: flex;
    justify-content: space-evenly;
    height: 91px;
    background-color: transparent;
    text-align: center;
    align-items: center;
    padding-bottom: 21px;
    font-size: small;
    padding-top: 0px;
}
.imglogo{
    height: 92%;
    width: 193px;
    padding-right: 10px;
}
nav li{
    display: inline;
}
a{
    text-decoration: none;
    color: white;
}
select{
    background-color: transparent;
    color: white;
    width: 23%;
    height: 40%;
    font-size: 10px;
    border-radius: 4px;
    border: 0.5px solid rgb(80, 72, 72);
}
nav{
    display: flex;
    gap: 20px;
}
.iimgl{
       height: 100%;
       width: 13rem;
}
select option{
    background-color: black;
}
.mainbox{
    background-image:url("IMAGES/first\ image.png");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    height: 600px;
}
.textbox{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 56px;
}
.img22{
    height: 650px;
    width: 1264.5px;
}
button{
    height: 44px;
    width: 100px;
    background-color: transparent;
    color: white;
    border: 0.5px solid gray;
}
.parabox{
    display: flex;
    flex-direction: column;
}
button:hover{
    background-color: white;
    border: 0.5px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackaro{
    height: 20px;
    width: 20px;
    background-color: black;
    padding-left: 2px;
    padding-top: 9px;
    color: black;
}
.img33{
    height: 750px;
    width: 1264.5px;
}
main{
    display: flex;
    flex-direction: column;
}
.img44{
    height: 750px;
    width: 1264.5px;
}
.img55{
    height: 750px;
    width: 1264.5px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    background-color: black;
    color: white;
}
ul li{
    display: inline;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.xlogo{
    height: 100%;
    width: 60px;
    border-radius: 41px;
    border: 0.5px solid gray;
    background-color: gray;
}
/* REMOVE DEFAULT GAPS */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* REMOVE GAP BETWEEN HEADER AND MAIN IMAGE */
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
/* MAIN HERO IMAGE FIX */
.mainbox {
  margin: 0;
  padding: 0;
  height: 100vh;
}
/* REMOVE IMAGE GAPS */
main img {
  display: block;
  width: 100%;
  height: auto;
}
/* HAMBURGER MENU */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.menu-toggle span {
  width: 25px;
  height: 3px;
  background: white;
}
/* MOBILE NAV */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 91px;
    left: 0;
    width: 100%;
    background: black;
    flex-direction: column;
    align-items: center;
    display: none;
  }
  nav.active {
    display: flex;
  }
  nav li {
    padding: 15px 0;
  }
  select {
    display: none;
  }
  .menu-toggle {
    display: flex;
  }
}
@media (max-width: 768px) {
  .textbox {
    padding: 140px 20px;
  }
  .textbox h1 {
    font-size: 28px;
    line-height: 32px;
  }
  button {
    width: 130px;
    height: 45px;
  }
}
html {
  scroll-behavior: smooth;
}
@media (max-width: 768px){
  .mainbox{
    background-image:url("IMAGES/first\ image.png");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    height: 500px;
}
}

